.genres{
    display: flex;
    height: 30px;

    p{
        display: flex;
        align-items: center;
        height: 100%;
        margin:0 5px;
    }
    h4{
        margin:0 10px;
        display: flex;
        align-items: center;
        height: 100%;
    }
    div{

    }
}

.movieCard{
        height: 270px;
        width: 230px;
        border: 1px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 5px;
        img{
            height: 80%;
            width: 90%;
        }

}
