.genres{
    display: flex;
    height: 30px;

    p{
        display: flex;
        align-items: center;
        height: 100%;
        margin:0 5px;
    }
    h4{
        margin:0 10px;
        display: flex;
        align-items: center;
        height: 100%;
    }
    div{

    }
}