*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  height: 100%;
}

#root {
  margin: 0 auto;
  text-align: center;

  height: 100%;
  width: 100%;
  padding: 10px 10px;
}
html{
  background-color: #e4e3e3;
}
